<div class="albums">
    <div class="container">
        <div class="heading">Albums</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        
        <div class="row listings">
            <div class="col-md-4 col-lg-4">
                <div class="innnerbox">
                    <div class="fig">
                        <img src="assets/images/teardrop.jpg" />
                    </div>
                    <div class="dispcrp">
                        <h5>Terry Brown Teardrop, Texas</h5>
                        <ul>
    <li>1. Teardrop Texas</li>
    <li>2. Old Rake</li>
    <li>3. The Crossing</li>
    <li>4. Good Enough For Daddy</li>
    <li>5. Dust on the Flat Top</li>
    <li>6. The Trust save on earth</li>
    <li>7. Texas when it strings</li>
    <li>8. OL Cowboys like me</li>
    <li>9. These are my favrourite year</li>
    <li>10. Country to the bone</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-lg-4">
                <div class="innnerbox">
                <div class="fig">
                    <img src="assets/images/cow-boy-thang.jpg" />
                </div>
                <div class="dispcrp">
                        <h5>Terry Brown Teardrop, Texas</h5>
                        <ul>
    <li>1. Teardrop Texas</li>
    <li>2. Old Rake</li>
    <li>3. The Crossing</li>
    <li>4. Good Enough For Daddy</li>
    <li>5. Dust on the Flat Top</li>
    <li>6. The Trust save on earth</li>
    <li>7. Texas when it strings</li>
    <li>8. OL Cowboys like me</li>
    <li>9. These are my favrourite year</li>
    <li>10. Country to the bone</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-lg-4">
                <div class="innnerbox">
                <div class="fig">
                    <img src="assets/images/partyonthe.jpg" />
                </div>
                <div class="dispcrp">
                        <h5>Terry Brown Teardrop, Texas</h5>
                        <ul>
    <li>1. Teardrop Texas</li>
    <li>2. Old Rake</li>
    <li>3. The Crossing</li>
    <li>4. Good Enough For Daddy</li>
    <li>5. Dust on the Flat Top</li>
    <li>6. The Trust save on earth</li>
    <li>7. Texas when it strings</li>
    <li>8. OL Cowboys like me</li>
    <li>9. These are my favrourite year</li>
    <li>10. Country to the bone</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="innnerbox">
                    <div class="fig">
                        <img src="assets/images/teardrop.jpg" />
                    </div>
                    <div class="dispcrp">
                        <h5>Terry Brown Teardrop, Texas</h5>
                        <ul>
    <li>1. Teardrop Texas</li>
    <li>2. Old Rake</li>
    <li>3. The Crossing</li>
    <li>4. Good Enough For Daddy</li>
    <li>5. Dust on the Flat Top</li>
    <li>6. The Trust save on earth</li>
    <li>7. Texas when it strings</li>
    <li>8. OL Cowboys like me</li>
    <li>9. These are my favrourite year</li>
    <li>10. Country to the bone</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-lg-4">
                <div class="innnerbox">
                <div class="fig">
                    <img src="assets/images/cow-boy-thang.jpg" />
                </div>
                <div class="dispcrp">
                        <h5>Terry Brown Teardrop, Texas</h5>
                        <ul>
    <li>1. Teardrop Texas</li>
    <li>2. Old Rake</li>
    <li>3. The Crossing</li>
    <li>4. Good Enough For Daddy</li>
    <li>5. Dust on the Flat Top</li>
    <li>6. The Trust save on earth</li>
    <li>7. Texas when it strings</li>
    <li>8. OL Cowboys like me</li>
    <li>9. These are my favrourite year</li>
    <li>10. Country to the bone</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-lg-4">
                <div class="innnerbox">
                <div class="fig">
                    <img src="assets/images/partyonthe.jpg" />
                </div>
                <div class="dispcrp">
                        <h5>Terry Brown Teardrop, Texas</h5>
                        <ul>
    <li>1. Teardrop Texas</li>
    <li>2. Old Rake</li>
    <li>3. The Crossing</li>
    <li>4. Good Enough For Daddy</li>
    <li>5. Dust on the Flat Top</li>
    <li>6. The Trust save on earth</li>
    <li>7. Texas when it strings</li>
    <li>8. OL Cowboys like me</li>
    <li>9. These are my favrourite year</li>
    <li>10. Country to the bone</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    </div><!--.albums ends-->