<div class="banner">
    <div class="container">
    <!--  START NAVBAR   -->
  <nav id="nav2" class="navbar navbar-light fixed-top navbar-dark">
    <a class="navbar-brand mr-auto" href="#"><img src="assets/images/logo.png" alt="."></a>  
  <div class="nav-box">
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#account" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-collapse collapse" id="account">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">FAQS</a></li>
                  <li class="nav-item"><a class="nav-link" href="blog-list.html">Blog</a></li>
                  <li class="nav-item"><a class="nav-link" href="pet-flyer.html">Pet's Flyer</a></li>
              </ul>
          </div>
  </div>
  </nav><!--  END NAVBAR   -->
  </div><!--/.container    -->
  </div>
  <!--.banner ends-->