<div class="upcomming">
	<div class="container">
		<div class="heading text-light heading-bg">Upcomming Tours</div>
        
        <div class="ticket-list">
        	<table class="table" cellpadding="10">
    <tbody>
      <tr>
        <td>20</td>
        <td>November <br />2020</td>
        <td>Videotron Center <br /><span><i class="fa fa-map-marker" aria-hidden="true"></i> Manhadtan, NY, United States</span></td>
        <td><button>By Tickets</button></td>
      </tr>
      <tr>
        <td>06</td>
        <td>November <br />2020</td>
        <td>Videotron Center <br /><span><i class="fa fa-map-marker" aria-hidden="true"></i> Manhadtan, NY, United States</span></td>
        <td><strong>Sold Out</strong></td>
      </tr>
      <tr>
        <td>15</td>
        <td>November <br />2020</td>
        <td>Videotron Center <br /><span><i class="fa fa-map-marker" aria-hidden="true"></i> Manhadtan, NY, United States</span></td>
        <td>Not Avilable</td>
      </tr>
      <tr>
        <td>28</td>
        <td>November <br />2020</td>
        <td>Videotron Center <br /><span><i class="fa fa-map-marker" aria-hidden="true"></i> Manhadtan, NY, United States</span></td>
        <td><button>By Tickets</button></td>
      </tr>
    </tbody>
  </table>
        </div>
	</div>
    <div class="clr"></div>
</div>